h1
{
    color:#fff;
    font-family:Verdana, Arial, Helvetica, Swiss, SunSans-Regular;
    font-size:32px;
    margin:10px;
    padding:8px;
    height: 48px;
    width:100%;
}

body
{
    background-color:#333;
    color:#eee;
    font:62.5%/133% Verdana, Arial, Helvetica, sans-serif;
    font-family:Verdana, Arial, Helvetica, Swiss, SunSans-Regular;
    font-size:11px;
    line-height:1.8em;
    margin:0;
    padding:0;
    text-align:center;
}




.tftable {font-size:12px;color:#eee;width:100%;border-width: 1px;border-color: #666;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#333;border-width: 1px;padding: 8px;border-style: solid;border-color: #fff;text-align:left;}
.tftable tr {background-color:#333;color:#eee;}
.tftable td {font-size:14px;border-width: 1px;padding: 6px;border-style: solid;border-color: #eee;color:#eee;}
.tftable tr:hover {background-color:#000;color:#ddd;}

.content {display:none;}

a img { opacity:0.6; }
a:hover img { opacity:1; }
a:link { text-decoration:none; opacity:0.8;color:#eee;}
a:hover { text-decoration:none;  opacity:1; color:#fff;}
a:visited { text-decoration:none;color:#eee; }

tr.hover { cursor: pointer; }